@font-face {
    font-family: Milestone;
    src: url(fonts/MilestoneFreeVersion-Script.otf);
}
@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue-Regular.ttf)
}

html, body {
    height: 100%;
    margin: 0;
    cursor: default;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 8%;
    padding-bottom: 0;
    margin-bottom: 2%;
    position: relative;
}

.item-top, .item-image {
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
    /*border: 1px solid black;*/
    text-align: center;
}

.item-top {
    height: 100vh;
    border: 1px solid black;
}

.item-image img{
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#scroll-text {
    font-family: Bebas, serif;
    font-size: 1.5em;
}

#greeting-div {
    width: 100%;
}

#greeting {
    font-family: Milestone, serif;
    font-size: 3em;
    color: white;
    background: black;
    padding-bottom: 20px;

}