.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 8%;
    padding-bottom: 0;
    margin-bottom: 2%;
    position: relative;
    /*border: 1px solid black;*/
}

.item-top, .item-image {
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
    border: 1px solid black;
}

.item-image {
    padding-bottom: 40%;
}