@font-face {
    font-family: Milestone;
    src: url(fonts/MilestoneFreeVersion-Script.otf);
}
@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue-Regular.ttf)
}

html, body {
    height: 100%;
    margin: 0;
    cursor: default;

}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 8%;
    padding-bottom: 0;
    margin-bottom: 2%;
    position: relative;
}

.item-top, .item-image {
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
    /*border: 1px solid black;*/
    text-align: center;
}

.item-top {
    height: 100vh;
}

.item-image img{
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0;
}

#scroll-text {
    font-family: Bebas, serif;
    font-size: 1.5em;
}

#greeting-div {
    width: 100%;
}

#greeting {
    font-family: Milestone, serif;
    font-size: 3em;
    color: white;
    background: rgb(255, 0, 68);
    padding-bottom: 20px;

}

.button-div {
    width: 50%;
    text-align: center;
    margin: 0 auto 50px;
}

#lmbutton {
    font-family: Bebas, serif;
    background-color: rgb(255, 0, 68);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: ease-out 0.4s;
    outline: none;
    box-shadow: inset 0 0 0 0 #f9e506;
}

#lmbutton:hover {
    box-shadow: inset 150px 0 0 0 #f9e506;
    color: black;
}

